@import "compass/css3";

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: none repeat scroll 0 0 #142933; }

#iframes{
  margin-left:60px;
}
#wood {
  margin-top:80%;
  margin-left:-10px;
  /*width: 120%;*/
  height:200%;
  margin-top: -300px;
}
h2{
  text-align: center;
  color: white;
}

nav.sidebar-menu-collapsed {
  width: 60px;
  opacity: 1;
  }
nav.sidebar-menu-expanded {
  width: 240px;
  opacity: .75;
   }
nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #142933;
  color: white;
  padding: 20px 10px;
   }
  nav.sidebar a#justify-icon {
    outline: 0;
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    margin-left: 7px; }
  nav.sidebar a#logout-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    position: absolute;
    bottom: 10px;
    left: 10px; }
  nav.sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 0px;
     }
    nav.sidebar ul li {
      margin: 0;
      padding: 0;
      margin-top: 10px;
      list-style-type: none; }
      nav.sidebar ul li a.expandable {
        outline: 0;
        color: blue;
        text-decoration: none;
        font-size: 24px; }
        nav.sidebar ul li a.expandable:hover {
          /*color: #0099CC;*/
          /*background-color: white;*/
          width: 100%;
          color: #FF6666;
          margin-left: 0px;
           }

/*Custom CSS HERE*/
        .nav-span:hover{
          background-color: #FF6666;
          width: 100%;
          /*margin-left: -10px;*/
        }
/*HERE, ABOVE!*/

        nav.sidebar ul li a.expandable span.expanded-element {
          margin-left: 2px;
          display: none;
          font-size: 24px;
          position: relative;
          bottom: 2px;
          width:100%;
          /*color: #FF6666;*/
          font-weight: 20px;
          /*background-color: #193A6A*/
           }
      nav.sidebar ul li.active {
        background: none repeat scroll 0 0 black;
        border-radius: 4px;
        text-align: center;
        /*margin-left: -4px;*/
        /*padding: 4px;*/
        padding: 0;
         }
        nav.sidebar ul li.active a.expandable {
          color: white !important; }
          nav.sidebar ul li.active a.expandable:hover {
            color: #193A6A !important; }
