@import "compass/css3";

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: none repeat scroll 0 0 #142933; }

/*=====================CUSTOM CSS======================*/

/*CUSTOM LAYOUT*/

#designDesign {
  padding-top: 140px;
}

#wood {
  margin-top:80%;
  margin-left:-10px;
  width: 75px;
  height:200%;
  margin-top: -750px;
  box-shadow: 3px 10px 5px #000000;
}
h1{
  text-align: center;
  color: white;
  font-size: 36px;
}

h1#mid {
  font-size: 64px;
}

h2{
  text-align: center;
  color: white;
  font-size: 24px;
  font-style: italic;
}

h3{
  color: #728F8F;
  text-align: center;
}

#content {
  background-color: #193E47;
  height:100%;
  margin-left:56px;
  margin-top: -7px;

}

#job-title{
  background-color: #193E47;
  opacity: .5;
  margin-top: -22px;
  margin-left: 15px;
  width:100%;
}



/*
html {
  touch-action: none;
  content-zooming: none;
}*/

/*HTML5 CANVAS STYLING*/

#clickCanvas {
  margin-top: 75px;
  background-image: url('./images/threeSixtylogo.png');
  background-repeat: no-repeat;
  margin-left: 67px;
  height: 600px;
  width: 800px;

}

#JH {
  /*z-index: 999;*/
  height:100px;
  width:165px;
}

/*class="center-block"*/

#jhLogo {
width: 100%;
height: 100px;
margin-left: 76px;
}
/*CHANGE ABOVE*/
#canvasDiv {
  margin-top: -40px;
  /*background: none repeat scroll 0 0 #ffffff;*/
  background-image: url('./images/wood.jpg');

}

#designDiv {
  padding-top: 100px;
}

div#skill-description {
  margin-top: 120px;
}




/*SIDEMENU NAVBAR ORGINAL CSS*/
/**********************************************/




nav.sidebar-menu-collapsed {
  width: 60px;
  opacity: 1;
  }
nav.sidebar-menu-expanded {
  width: 400px;
   }
nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0;
  color: white;
  /*background-image: './images/tall-wood';*/
  padding: 10px 10px 10px;
   }
  nav.sidebar a#justify-icon {
    outline: 0;
    color: #193A6A;
    font-size: 40px;
    /*font-style: normal;*/
    margin-left: 7px;
     }

  nav.sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 24px;
     }
    nav.sidebar ul li {
      margin: 0;
      list-style-type: none;
       }
      nav.sidebar ul li a.expandable {
        /*outline: 0;*/
        color: blue;
        /*text-decoration: none;*/
        font-size: 30px;
        padding:10px; }
        nav.sidebar ul li a.expandable:hover {
          /*color: #0099CC;*/
          /*background-color: white;*/
          width: 100%;
          color: #FF6666;
          /*margin-left: 0px;*/
          /*margin-top:100px;*/
           }

/*Custom CSS HERE*/
        .nav-span:hover{
          background-color: #FF6666;
          width: 100%;
          color: #193A6A;
          /*margin-left: -10px;*/
        }
/*HERE, ABOVE!*/

        nav.sidebar ul li a.expandable span.expanded-element {
          margin-left:48px;
          display: none;
          font-size: 30px;
          /*margin-top: 30px;*/
          /*position: absolute;*/
          /*bottom: 2px;*/
          /*top:2px;*/
          /*width:100%;*/
          color: #193A6A;
          /*font-weight: 20px;*/
          /*background-color: #193A6A*/
           }
      nav.sidebar ul li.active {
        background: none repeat scroll 0 0 #FFFFC2;
        color: #193A6A;
        /*box-shadow: 3px 5px 5px #335C85;*/
        /*border-radius: 0px;*/
        /*text-align: left;*/
        /*position: absolute;*/

        /*margin-left: -4px;*/
        /*padding: 10px;*/
        margin-top: 50px;
        /*padding: 0;*/
         }
        nav.sidebar ul li.active a.expandable {
          color: white !important; }
          nav.sidebar ul li.active a.expandable:hover {
            color: #FF5050 !important; }


