@import "compass/css3";

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  /*background: none repeat scroll 0 0 white;*/
  background-image: url('./images/chalkboard.jpg');
  background-size: 410%;
}


/*=====================CUSTOM CSS======================*/
/*===========================================*/
/*================================*/
/*CUSTOM LAYOUT*/
/*====================*/

/*>>>>>>>NAV TEMPLATE*/
div#nav-bar-logo{
  margin-left: 200px;
}
#JH {
  /*z-index: 999;*/
  height:100px;
  width:165px;
}
#jhLogo {
width: 100%;
height: 100px;
margin-left: 67px;
}
/*NAV-WOOD?*/
#wood {
  margin-left:-10px;
  width: 75px;
  box-shadow: 3px 10px 5px #000000;
  position: fixed;
  z-index: 10;
}
#designDesign {
  margin-top: 140px;
}
/*HEADERS*/
div#portfolio-title{

}

h1{
  text-align: center;
  color: white;
  font-size: 36px;
}
h1#mid {
  font-size: 64px;
  z-index: 50;
}
h1#me {
  font-size: 64px;
  text-align: center;
  /*margin-top: 50px;*/
  /*margin-left: 100px;*/
}

h1#exp {

}
h2{
  text-align: center;
  color: white;
  font-size: 24px;
  font-style: italic;
}
h3{
  color: #728F8F;
  text-align: center;
}
h4{
  text-align: center;
  color: white;
  font-size: 36px;
  font-style: italic;
  line-height: 60px;
}
#canvasDiv {
  padding: 10px 10px 10px;
  height:100%;
}
/*HTML5 CANVAS STYLING*/
#clickCanvas {
  margin-top: 100px;
  background-image: url('./images/threeSixtylogo.png');
  background-size: 35%;
  background-repeat: no-repeat;
  /*background-position: relative;*/
  height: 100%;
  z-index: 30;
  margin-left:56px;
  margin-bottom: -200px;
  /*padding: 0px 35px 10px;*/
}
/*CHANGE ABOVE*/

/*MY APP SCREENSHOTS*/
#content {

  margin-left:56px;
  margin-top: 0px;
  padding: 0;
  /*padding: 0px 50px 20px;*/
  height:100%;
  /*background-size: 100%;*/

}
#footer{
  opacity: .5;

}


#imgSimpL {
  padding:10px;
}

div#skill-description {
  margin-top: 120px;
}



/**********************************************/
/*SIDEMENU NAVBAR ORGINAL CSS*/
/**********************************************/
/*SB COLLAPSE Width*/
nav.sidebar-menu-collapsed {
  width: 400px;
  /*margin: 5px;*/
  display: block;
  opacity: 1;
}
/*SB EXPANDED Width*/
nav.sidebar-menu-expanded {
  width: 100%;
  display: block;
  font-size: 36px;
}
/*SIDEBAR*/
nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  /*height: 100%;*/
  /*background: none repeat scroll 0 0;*/
  
  /*padding: 10px 10px 10px;*/
  z-index: 20;
}
  /*HAMBURGER MENU*/
  nav.sidebar a#justify-icon {
    color: #193A6A;
    font-size: 36px;
    /*margin-top: 40px;*/
    margin-left: 10px;
  }
  /*GlyphIcon HAMBURGER*/

  /*LIST*/
  nav.sidebar ul {
    /*margin: 0;*/
    /*padding: 0;*/
    /*margin-top: 24px;*/
    margin-top: 67px;
      /*font-size: 30;*/
      margin-left: -30px;
       
  }
    /*LIST ITEM */
    nav.sidebar ul li {
      font-size: 36;

    }
    /*LIST ITEM <a> EXPANDABLE*/
      nav.sidebar ul li a.expandable {
        /*color: blue;*/
        /*padding:0;*/
        
      }
        /*LIST ITEM <a> Exp-Hover*/
        nav.sidebar ul li a.expandable:hover {
          /*width: 100%;*/
        }
        /*NAVI-SPAN??????*/
        .nav-span:hover{
          width: 100%;
        }
    /*Span Expanded Element*/
    nav.sidebar ul li a.expandable span.expanded-element {
          /*display: inline;*/
          /*font-size: 14;*/  /*NAV font Size*/
          color: #193A6A;/*NAV TEXT COLOR*/
          margin-left: 9px;
          background: none repeat scroll 0 0 #FFFFC2;
          
    }
    /*Span Expanded Element (ACTIVE)*/
    nav.sidebar ul li.active {
      /*Background YELLOW color*/
      /*display: none;*/
      color: #193A6A;
      /*margin-top: 67px;*/
      /*display:inline;*/
    }



/***************************/
/*CUSTOM COLOR?*/
/***************************/
nav.sidebar ul li.active a.expandable {
color: white !important; }
nav.sidebar ul li.active a.expandable:hover {
color: #FF5050 !important; }


