<!DOCTYPE html5>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Socks PNG</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body onload="loadImages()" id="designframe">

  <div>
    <img id="jhLogo" src="../images/MainLogoJH.png" class="navbar-fixed-top center-block"/>
    <a href="../index.html"><img id="JH" src="../images/logoJH.png" class="navbar-fixed-top center-block" /></a>
  </div>





    <!-- CANVAS STARTS HERE -->

    <a id="downloadLnk" download="YourFileName.jpg">Download as image</a>
    <canvas id="designDesign" class="center-block" width="500" height="4000"></canvas>

  <!-- NAVMENU -->

  <div class="row">
    <nav class='sidebar sidebar-menu-collapsed'>
      <a href='#' id='justify-icon'>
        <span class='glyphicon glyphicon-align-justify'></span>
      </a>

      <ul>
        <li class='active nav-span'>
          <a class='expandable' href='../index.html' title='Dashboard'>
            <span class='glyphicon glyphicon-folder-open collapsed-element'></span>
            <span class='expanded-element' id="dashboard">App Portfolio</span>
          </a>
          <hr>
        </li>
        <li class="active nav-span">
          <a class='expandable' href='#' title='About Me'>
            <span class='glyphicon glyphicon-user collapsed-element'></span>
            <span class='expanded-element'>About Me</span>
          </a>
          <hr>
        </li>
        <li class='active nav-span'>
          <a class='expandable' href='#' title='Languages'>
            <span class='glyphicon glyphicon-console collapsed-element'></span>
            <span class='expanded-element'>Languages & Skills</span>
          </a>
          <hr>
        </li>
        <li class='active nav-span'>
          <a class='expandable' href='#' title='Design'>
            <span class='glyphicon glyphicon-tint collapsed-element'></span>
            <span class='expanded-element'>Design</span>
          </a>
          <hr>
        </li>
        <img src="../images/tall-wood.png" id="wood"/>
      </ul>

    </nav>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../app.js"></script>

  <script type="text/javascript" src="../js/design.js"></script>
  </body>
</html>
