<!DOCTYPE html5>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>AboutJH</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

    <!-- HEADER AND SIDE GRAPHICS -->
    <img src="../images/tall-wood.png" id="wood"/>
    <div> <!-- FIXED SCROLL BAR TOP -->
      <img id="jhLogo" src="../images/MainLogoJH.png" class="navbar-fixed-top center-block"/>
      <a href="mobileSkill.html"><img id="JH" src="../images/logoJH.png" class="navbar-fixed-top center-block" /></a>
    </div>
    <!-- =========== NAVMENU =========== -->
    <div class="row"> <!-- START ROW  -->
      <nav class='sidebar sidebar-menu-collapsed'>
          <!-- + Hamburger Menu -->
          <a href='#' id='justify-icon'>
            <span class='glyphicon glyphicon-align-justify expanded-element'></span>
          </a>
        <ul>
          <li class='active nav-span'>
            <a class='expandable' href='mobilePortfolio.html' title='Apps'>
              <span class='glyphicon glyphicon-folder-open collapsed-element'></span>
              <span class='expanded-element'>App Portfolio</span>
            </a>
          </li>
          <li class="active nav-span">
            <a class='expandable' href='mobileSkill.html' title='Languages'>
              <span class='glyphicon glyphicon-console collapsed-element'></span>
              <span class='expanded-element'>Languages & Skills</span>
            </a> 
          </li>
          <li class='active nav-span'>
            <a class='expandable' href='mobileAboutMe.html' title='About Me'>
              <span class='glyphicon glyphicon-user collapsed-element'></span>
              <span class='expanded-element'>About Me</span>
            </a>
          </li>
          <li class='active nav-span'>
            <a class='expandable' href='mobileGraphicDesign.html' title='Design'>
              <span class='glyphicon glyphicon-tint collapsed-element'></span>
              <span class='expanded-element'>Design</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> <!-- ========= endrow Navigation Menu ======= -->




    <!-- ================CUSTOM CONTENT BELOW=============== -->
    <div id="desginDiv">
     <div class="container">
          <div class="row">
          <div class="col-md-2"></div>
              <div class="col-md-8" id="skill-description">
<!-- *********************** -->
              <h1 id="mid">Jon Harlan</h1>
              <h3 id="resume">
                --<a href="https://github.com/jhars">GitHub</a>--
                <br>--<a href="pdf.html">Resume</a>--
                <br>--<a href="https://www.linkedin.com/in/jonharlan">Linkedin</a>--
              </h3>
              <!-- ///////////////////////// -->
                <hr><hr>
                <h1>Experience / Education:</h1><br>
                <h3 id="subtitle">
                  General Assembly:
                </h3>
                <h3 id="exp">
                        Global School for Technology, Business, and Design.
                    <br>12-week immersive web development course.
                    <br>Specific instruction on cutting-edge, industry-applicable programming-languages.<br>
                    <br>Recently adopted Skill-sets in Multiple full-stack proramming languages & frameworks.
                </h3><br><br>
                <h3 id="subtitle">MasterCard Master's of Code Hackathon 2015: FINALIST (<a href="https://simplifylocal.herokuapp.com">$implify</a>)</h3>
                <hr>
                <h1>Contact:</h1>
                <h3 id="subtitle">Email:<br>jjharlan06@gmail.com</h3>
                <h3 id="subtitle">Phone:<br>248-444-9837</h3>
              <br><br>
        <!-- ///////////////////////// -->
            </h1> <!-- END "me" -->
<!-- *********************** -->
          </div> <!-- end "skill-description" -->
          <div class="col-md-2"></div>  
        </div>  <!-- end ROW --> 
      </div>
    </div>
    <!-- ================CUSTOM CONTENT ABOVE=============== -->


      <!-- ================== FOOTER=========================== -->
<!--       <div id="footer"> 
        <h1><br>Web and Software</h1>
        <h2>Application Portfolio</h2><br>
      </div>
 -->

  <!-- JAVASCRIPT REFERENCES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../app.js"></script>
    <script type="text/javascript" src="../js/design.js"></script>
  </body>
</html>
