<!DOCTYPE html5>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>DesignJH</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body onload="initControl()">
     <!-- HEADER AND SIDE GRAPHICS -->
     <img src="../images/tall-wood.png" id="wood"/>
     <div > <!-- FIXED SCROLL BAR TOP -->
       <img id="jhLogo" src="../images/MainLogoJH.png" class="navbar-fixed-top center-block"/>
       <a href="#"><img id="JH" src="../images/logoJH.png" class="navbar-fixed-top center-block" /></a>
     </div>
     
     <!-- ***************START CANVAS************* -->
      <div class="container-fluid">
       <div class="row" id="portfolio-title">
	       	
          <div class="col-md-1"></div>
   <!--        <div class="col-md-1"></div>
          <div class="col-lg-1"></div> -->
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <!-- <div class="col-lg-1"></div> -->
          <!-- <div class="col-lg-1"></div> -->
	       	<div class="col-lg-6">
	       		<canvas id="clickCanvas"></canvas> 	
	       	</div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
         <!-- <div class="col-lg-1"></div> -->
         <!-- <div class="col-sm-1"></div> -->
         <!-- <div class="col-md-1"></div> -->
      </div>
   
     <!-- ::::::::::::END CANVAS:::::::::::::::: -->
   
		<!-- WEB-APP PORTFOLIO -->
		<div class="row" id="content">

		  <div class="col-md-4">
		    <a href="https://simplifylocal.herokuapp.com"><h1>$implify</h1><hr>
		    <img class="imgSimpL" src="../images/screenShots/simpL.png" width="100%"/></a>
		  </div>
		  <div class="col-md-4">
		  <a href="http://lax360.bitballoon.com/views/helmet360"><h1>360.lax</h1><hr>
		    <img class="imgSimpL"  src="../images/screenShots/lax360.png" width="100%"/></a>
		  </div>
		  <div class="col-md-4">
		    <a href="https://nexu.herokuapp.com/"> <h1>nXu</h1><hr>
		      <img class="imgSimpL" src="../images/screenShots/nexu.png" width="100%"/></a>
		  </div>
		</div>  <!-- endrow App Portfolio -->
	</div>

    <!-- NAVMENU -->
    <div class="row"> <!-- START ROW  -->
      <nav class='sidebar sidebar-menu-collapsed'>
          <!-- + Hamburger Menu -->
          <a href='#' id='justify-icon'>
            <span class='glyphicon glyphicon-align-justify expanded-element'></span>
          </a>

        <ul>
          <li class='active nav-span'>
            <a class='expandable' href='#' title='Dashboard'>
              <span class='glyphicon glyphicon-folder-open collapsed-element'></span>
              <span class='expanded-element'>App Portfolio</span>
            </a>
          
          </li>
          <li class="active nav-span">

            <a class='expandable' href='aboutme.html' title='About Me'>
              <span class='glyphicon glyphicon-user collapsed-element'></span>
              <span class='expanded-element'>About Me</span>
            </a>
           
          </li>
          <li class='active nav-span'>
            <a class='expandable' href='skill.html' title='Languages'>
              <span class='glyphicon glyphicon-console collapsed-element'></span>
              <span class='expanded-element'>Languages & Skills</span>
            </a>
        
          </li>
          <li class='active nav-span'>
            <a class='expandable' href='graphicDesign.html' title='Design'>
              <span class='glyphicon glyphicon-tint collapsed-element'></span>
              <span class='expanded-element'>Design</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> <!-- endrow -->
      <!-- ================== FOOTER=========================== -->
    <!-- <div id="footer">
      <h1><br>Web and Software</h1>
      <h2>Application Portfolio</h2><br>
    </div> -->
    
  <!-- JAVASCRIPT REFERENCES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../app.js"></script>
    <script type="text/javascript" src="../js/360Control.js"></script>
  </body>
</html>
