<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
		
		Full-Stack & Mobile Web-Developer

Skill-Set:
Front-End Languages: HTML5 (CANVAS), CSS, HTML, PhotoShop
Mobile: Ionic (ionCordova),  Swift!
Javascript Frameworks:  jQuery, AJAX  ANGular,
BackendsFrameworks: RUBY on RAILS, CRUD & RESTful Routing, MEAN Stack (mongo/express/angular/node).
Data​: Experience with external APIs and creating internal APIs via Web-Scraping (w/ Node/Express), Kimono & JSON data-parsing. Databases: Mongo DB, Postgres, SQL

  </body>
</html> 